
br/
br/
br/
br/


| code heree....
br/

p
  | index/page (user transaction and everything)






/ p#notice
/   = notice

/ .top_offset

/ .container.px-4
/   .table.card
/     .d-flex.justify-content-center.card-header.text-primary
/       h4 
/         strong
/           | User List
/           / .btn.btn-info.px-4
/           /   | User List

/   .border-primary 
/     table.table
/       thead.table-bordered
/         tr.text-primary.card-header.border-primary
/           th.text-center[scope="col"]
/             | User ID
/           th.text-center[scope="col"]
/             | Account Name
/           th.text-center[scope="col"]
/             | Balance
/           th.text-center[scope="col"]
/             | Email
/           th.text-center[scope="col"]
/             | Role
/           th.text-center[scope="col"]
/             | Actions

/         - @users.each do |user|
/           tr
/             th.text-center.col-1.align-middle[scope="row"]
/               = user.id
/             td.text-center.align-middle
/               = user.name
/             td.text-center.align-middle
/               = user.balance
/             td.text-center.align-middle
/               = user.email
/             td.text-center.align-middle
/               = user.role_id
/             td.col-2
/               .btn-group
/                 .d-flex.justify-content-evenly
/                   = link_to 'Show', user, class: "btn btn-outline-primary mx-1"
/                   = link_to 'Edit', edit_user_path(user), class: "btn btn-outline-secondary mx-1"
/                   = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger mx-1"



/ .d-flex.justify-content-center
/   = link_to 'Add User', new_user_registration_path,  class: "btn btn-primary mx-1 text-white m-4 col-1"
