/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav_bar {
    position:fixed ;
    top: 0;
    width: 100%;
    z-index: +2;
}

.form_container {
    height: 100vh;
    position:fixed ;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back_butt {
    position: relative;
    top: -3.36rem;
    left: -2.7rem;
}

.index-1 {
    z-index: +1;
}

.top_offset {
  height: 7.5rem;
}